<!DOCTYPE html>
<html>
  <head>
    {% extends "base.html" %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
    <main>
      <div>
        <h1>Signup</h1>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button>Signup</button>
        </form>
      </div>
    </main>
    {% endblock content %}
  </body>
</html>
