<!DOCTYPE html>
<html lang="en">
    <head>
        {% extends "base.html" %}

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        {% block content %}
            <main>
                <div>
                    <h1>My Projects</h1>
                    <p>
                        <a href="{% url 'create_project' %}">Create a new project</a>
                        <p>You are not assigned to any projects</p>
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                            {% for project in list_projects %}
                                <tr>
                                    <td>
                                        <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                    </td>
                                    <td>{{ project.tasks.all|length }}</td>
                                </tr>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </main>
        {% endblock content %}
    </body>
</html>
